<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    {%- block title -%}
      {{ title if title else site.title }}
    {%- endblock -%}
  </title>

  <link rel="stylesheet" href="/styles.css">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ page.url | productionUrl }}">
  <meta property="og:locale" content="en_US">
  <meta property="profile:first_name" content="Steve">
  <meta property="profile:last_name" content="Jamesson">
  {% block og %}{% endblock %}

  {% block meta %}{% endblock %}
</head>
<body>
  {% block header %}
    <header class="site-header">
      <div class="container">
        <nav class="menu">
          <a href="/">Home</a>
          &nbsp;
          <a href="/posts/">Posts</a>
          &nbsp;
          <a href="/now/">Now</a>
        </nav>
      </div>
    </header>
  {% endblock %}

  <main class="site-main">
    {% block main %}
      {{ content | safe }}
    {% endblock %}
  </main>

  {% block footer %}
    <footer class="site-footer">
      <div class="container">
        <p>
          <small>&copy;{{ site.copyrightDate }} {{ site.author }}</small>
        </p>
      </div>
    </footer>
  {% endblock %}
</body>
</html>
