---
title: Now
layout: layouts/base
updated: May 2, 2019
---

<div class="container">
  <h1>Now</h1>

  <p class="text-gray-600">
    <small>This page is inspired by Derek Sivers' <a href="https://nownownow.com"><code>/now</code></a> concept.</small>
  </p>

  <p>
    <strong>Last updated:</strong> {{ updated }}
  </p>


</div>
