---
title: Posts
layout: layouts/base
tagged:
  - eleventy
---

<div class="container">
  <h1>All Posts</h1>
  <div class="post-excerpt">Grouped by tag</div>

  {% for tag in tagged %}
    <h2 id="{{ tag }}">#{{ tag }}</h2>
    {% for post in collections[tag] | reverse %}
      {% include "list-posts.njk" %}
    {% endfor %}
  {% endfor %}
</div>
