---
title: Posts
layout: page
lead: Grouped by tag
pagination:
  data: collections
  size: 99999
  alias: tags
  filter:
    - all
    - posts
---

{% for tag in tags | sort %}
  <h2 id="{{ tag }}">#{{ tag }}</h2>
  {% for post in collections[tag] | reverse %}
    {% include "list-posts.njk" %}
  {% endfor %}
{% endfor %}
