---
layout: layouts/base
title: Styleguide
---

<div class="container">
  <h1>Styleguide</h1>

  <p>A basic styleguide for the sake of my own posterity</p>

  <h2>Links</h2>

  <p><a href="#">Clickable link</a></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, similique voluptas ipsum sint, dolor et, animi reprehenderit eligendi quisquam consequuntur adipisci facere. Vitae velit cupiditate ipsum numquam quisquam quod veniam?</p>
</div>
